<div class="row">
	<div class="span4 center well">
		<label>#springMessage('title')</label>
		<div class="alert alert-error">
			<a class="close" data-dismiss="close" href="#">x</a>#springMessage('alert.login.error')
		</div>
		<form action="/j_spring_security_check" method="post">
			<input type="text" id="username" class="span4" name="j_username" placeholder="#springMessage('label.email.placeholder')" />
            <input type="password" id="password" class="span4" name="j_password" placeholder="#springMessage('label.password.placeholder')" />
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1" /> Remember Me
            </label>
            <button type="submit" name="submit" class="btn btn-primary btn-block">Sign in</button>
		</form>
	</div>
</div>