#if ($conferences.size() > 0)
	#foreach($conference in $conferences)
		<div id="conference">
			<div id="conference-date">
				<h1>$conference.getConferenceFrom($dateFormat)</h1>
			</div>
			<div id="conference-description">
				<h4><a href="conference/$conference.getConferenceId()">$conference.getTitle()</a></h4>
				<p>$conference.getTeaser()</p>
				#if($conference.getAttendees())
					<small><i><b>$conference.getAttendees().size()</b> attendees</small>
				#else
					<small><i>No attendees yet</small>
				#end
			</div>
		</div>
	#end
#else
	<p class="lead">No conferences was found!</p>
#end