<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Conference" type="lt.nfq.conference.domain.Conference" />
		<typeAlias alias="User" type="lt.nfq.conference.domain.ConferenceUser"/>
		<typeAlias alias="ConferenceType" type="lt.nfq.conference.domain.ConferenceType"/>
		<typeAlias alias="Role" type="lt.nfq.conference.domain.ConferenceRole"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="Conference.xml"/>
		<mapper resource="User.xml"/>
	</mappers>
</configuration>